{{> header}}
{{> menu}}

<h2>Clients (25 primers) amb els seus 5 primers lloguers</h2>

<table border="1" cellpadding="8" style="border-collapse: collapse; width:100%;">
    <thead>
        <tr>
            <th>Nom</th>
            <th>Email</th>
            <th>Darrers lloguers</th>
        </tr>
    </thead>
    <tbody>
        {{#each customers}}
        <tr>
            <td>{{first_name}} {{last_name}}</td>
            <td>{{email}}</td>
            <td>
                <ul>
                    {{#each rentals}}
                    <li>{{film_title}} ({{rental_date}})</li>
                    {{else}}
                    <li>No té lloguers</li>
                    {{/each}}
                </ul>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

{{> footer}}