{{> header}}
{{> menu}}

<h2>Benvingut a Sakila Movies</h2>

<section class="movies">
    <h3>Primeres 5 pel·lícules</h3>
    <div class="movie-list">
        {{#each movies}}
        <div class="movie-card">
            <img src="/imatges/movie{{film_id}}.png" alt="{{title}}">
            <h4>{{title}} ({{release_year}})</h4>
            <p><strong>Actors:</strong> {{actors}}</p>
        </div>
        {{/each}}
    </div>
</section>

<section class="categories">
    <h3>Primeres 5 categories</h3>
    <ul>
        {{#each categories}}
        <li>{{name}}</li>
        {{/each}}
    </ul>
</section>

{{> footer}}